<script src="{{springMacroRequestContext.request.contextPath}}/webjars/jquery/dist/jquery.slim.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/tether/dist/js/tether.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/webjars/angular/1.6.5/angular.min.js"></script>
<script src="{{springMacroRequestContext.request.contextPath}}/app.js"></script>
</body>
</html>
